{% extends 'base/delete_base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div style="justify-content: center;display: flex;align-items: center;">
   <a href="{% url 'add_outward' %}" > <button id="payment-button" style="background-color: green; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
         <span id="payment-button-amount">Add Company  +</span>
     </button>  </a>
</div><br>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Outward Report
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form method="get" action="{% url 'report_outward' %}" style="padding:15px;">
            {% csrf_token %}
            <div class="form-group">
                {{ filter_outward.form }}
            </div><br>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Outward List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <form method="POST" action="{% url 'delete_selected_outward' %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" id="delete-selected-button" style="margin-bottom: 15px;">Delete Selected</button>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="serial">
                                        <input type="checkbox" id="select-all">
                                    </th>
                                    <th>ID</th>
                                    <th>Category</th>
                                    <th>Size</th>
                                    <th>Employee_name</th>
                                    <th>Total Quantity</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if data %}
                                    {% for i in data %}
                                        <tr>
                                            <td class="serial">
                                                <input type="checkbox" name="selected_items" value="{{ i.id }}">
                                            </td>
                                            <td>{{ i.id }}</td>
                                            <td>{{ i.company_goods }}</td>
                                            <td>{{ i.goods_company }}</td>
                                            <td>{{ i.employee_name }}</td>
                                            <td>{{ i.bags }}</td>
                                            <td>  
                                                <a href="{% url 'update_outward' i.id %}">
                                                    <button id="payment-button" style="background-color: green; border: green; padding: 10px; border-radius: 12px;" type="submit" class="btn-info">
                                                        <span id="payment-button-amount">View</span>
                                                    </button>
                                                </a>
                                                <a href="{% url 'delete_outward' i.id %}">
                                                    <button id="delete_compnay-button" style="background-color: red; border: red; padding: 10px; border-radius: 12px;" type="submit" class="btn-info">
                                                        <span id="payment-button-amount">Delete</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="6">No Product Data</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </form>


                    {% if data.has_other_pages %}
                    <nav>
                      <ul class="pagination justify-content-center">
                  
                        {% if data.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ data.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&laquo;</span>
                          </li>
                        {% endif %}
                  
                        {% comment %}
                        Show 5 pages before and 5 pages after the current page
                        {% endcomment %}
                        {% for p in data.paginator.page_range %}
                          {% if p >= data.number|add:-5 and p <= data.number|add:5 %}
                            {% if data.number == p %}
                              <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                  
                        {% if data.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ data.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                          </li>
                        {% endif %}
                  
                      </ul>
                    </nav>
                  {% endif %}

                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div> <!-- /.col-lg-8 -->
</div>

{% endblock content %}

<script>
    // Select or deselect all checkboxes
    document.getElementById('select-all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('input[name="selected_items"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });
</script>
