{% extends 'base/base.html' %}
{% load static %}


{% block head %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
   


<!-- Hierarchy Select Js -->

{% endblock %}

{% block title %}Create Product{% endblock title %}

{% block breadcrumbs %}

{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Variety</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" >
                            {% csrf_token %}

                           

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Company Name</label>
                                {{ form.company }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Crop Name</label>
                                {{ form.name }}
                            </div>

                            
                            


                            {% comment %} <div class="form-group">
                                <label for="name" class="control-label mb-1">Company Goods</label>
                                {{ form.company_name }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Company Goods</label>
                                {{ form.company_goods }}
                            </div> {% endcomment %}

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Create Product</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

<script>


    
</script>
  
{% endblock content %}